h1 {
	color: red;
}
p.second {
	background-color: blue;
	color: white;
	width: 100px;
	margin-bottom: 100px;
}

.marked {
	color: red;
}

h2 {
	color: white;
	background-color: green;
	padding: 5px;
}

h2.competence {
	padding: 50px;
}
.good-forms {
	margin-left: 100px;
}

ul {
	font-size: 25px;
}

li {
	border: 1px solid black;
}